
.vs/CS.Platform/xs/UserPrefs.xml
.vs/CS.Platform/xs/project-cache/CS.Common-Debug.json
CS.Common/obj/Debug/netstandard1.6/CS.Common.csprojAssemblyReference.cache
CS.API/bin/Debug/netcoreapp2.1/CS.API.dll
CS.API/bin/Debug/netcoreapp2.1/CS.API.pdb
CS.API/bin/Debug/netcoreapp2.1/CS.Business.dll
CS.API/bin/Debug/netcoreapp2.1/CS.Business.pdb
CS.API/bin/Debug/netcoreapp2.1/CS.Common.dll
CS.API/bin/Debug/netcoreapp2.1/CS.Common.pdb
CS.API/obj/Debug/netcoreapp2.1/CS.API.csprojAssemblyReference.cache
CS.API/obj/Debug/netcoreapp2.1/CS.API.dll
CS.API/obj/Debug/netcoreapp2.1/CS.API.pdb
CS.Business/bin/Debug/netstandard1.6/CS.Business.dll
CS.Business/bin/Debug/netstandard1.6/CS.Business.pdb
CS.Business/bin/Debug/netstandard1.6/CS.Common.dll
CS.Business/bin/Debug/netstandard1.6/CS.Common.pdb
CS.Business/obj/Debug/netstandard1.6/CS.Business.csprojAssemblyReference.cache
CS.Business/obj/Debug/netstandard1.6/CS.Business.dll
CS.Business/obj/Debug/netstandard1.6/CS.Business.pdb
CS.Common/bin/Debug/netstandard1.6/CS.Common.dll
